{% extends 'index.html.twig' %}

{% block name %}
    <h1>See all users & admins</h1>
{% endblock %}

{% block main %}
    <div class="tablealignment">
        <table class="table blueTable">
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Prefix</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Current employer</th>
                <th>Username</th>
                <th>Role</th>
                <th>Action</th>
                <th></th>
            </tr>
            {% for user in users %}
                <tr>
                    <form name="allusers">
                        <td><input name="id" value="{{ user.id }}" readonly></td>
                        <td><input name="firstname" value="{{ user.firstname }}"></td>
                        <td><input name="prefix" value="{{ user.prefix }}"></td>
                        <td><input name="lastname" value="{{ user.lastname }}"></td>
                        <td><input name="email" value="{{ user.email }}"></td>
                        <td><input name="currentemployer" value="{{ user.currentemployer }}"></td>
                        <td><input name="username" value="{{ user.username }}" readonly></td>
                        <td><input name="role" value="{{ user.admin }}"></td>
                        <td>
                            <input class="updatebtn" type="button" value="update user" onClick="adminUpdateUser({{ user.id }});">
                        </td>
                        <td>
                            <input class="deletebtn remove" type="button" name="deletevisitor" value="delete" onClick="adminDeleteUser({{ user.id }});">
                        </td>
                    </form>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock%}

{% block text %}
    <h1>See all visitors</h1>
{% endblock%}
{% block promotion %}
    <div class="tablealignment">
        <table class="table blueTable">
            <tr>
                <th>ID</th>
                <th>Randomid</th>
                <th>Inviter ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Date created</th>
                <th>Expire date</th>
                <th>Action</th>
            </tr>
            {% for visitor in visitors %}
                <tr>
                    <td>{{ visitor.id }}</td>
                    <td>{{ visitor.randomid }}</td>
                    <td>{{ visitor.inviteid }}</td>
                    <td>{{ visitor.firstname }}</td>
                    <td>{{ visitor.lastname }}</td>
                    <td>{{ visitor.email }}</td>
                    <td>{{ visitor.datecreated }}</td>
                    <td>{{ visitor.expiredate }}</td>
                    <td>
                        <form name="allvisitors">
                            <input class="deletebtn remove" type="button" name="deletevisitor" value="delete" onClick="adminDeleteVisitor({{ visitor.id }});">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block recentprojects %}
    <div class="Createpdftable">
        <table class="table blueTable">
            <tr>
                <th>pdf naam</th>
                <th>Action</th>
            </tr>
            <tr>
                <form name="pdfform">
                    <td><input name="name" value="" required></td>
                    <td><input class="updatebtn" type="button" name="deletevisitor" value="delete" onClick="adminCreatePDF();"></td>
                </form>
            </tr>
        </table>
    </div>
{% endblock %}

