{% extends "index.html.twig" %}

{% block name %}
    <div class="namediv">
        <div class="name">
            <div><h1>Nicky de Vendt</h1></div>
            <div class="namealignment">
                <p>Web developer</p>
                <img src="/img/devel.png" alt="coding...!" id="shrink">
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="contact">
        <h2>Get in "contact" or take a look at my "Resume"</h2>
        <div class="overheaddiv">
          <div class="buttonstyling">
              <a href="/resume"><button class="button"type="button">Resume</button></a>
              <a href="/contact"><button class="button"type="button">Contact!</button></a>
          </div>
        </div>
    </div>
{% endblock %}

{% block text %}
    <div class="text">
        <h2>zet hier wat text neer</h2>
        <p>Met hier nog een beetje meer tekst. en hier nog veel meer tekst gewoon om een beeld te geven hoe het zou staan als hier ook maar wat nuttigs neergezet zou worden.</p>
    </div>
{% endblock %}

{% block promotion %}
    <div class="promotion">
        <h2>Affiliated Company's</h2>
    </div>
    <div class="container">
        <div class="carousel">
            <input type="radio" id="carousel-1" name="carousel[]" checked>
            {% for company in companys %}
            <input type="radio" id="carousel-{{ company.id + 1 }}" name="carousel[]">
            {% endfor %}
            <ul class="carousel__items">
                {% for company in companys %}
                    <li class="carousel__item"><img src="/img/{{ company.id }}.jpg" alt="{{ company.name }}"></li>
                {% endfor %}
            </ul>
        <div class="carousel__prev">
            {% for company in companys %}
                <label for="carousel-{{ company.id }}"></label>
            {% endfor %}
            </div>
        <div class="carousel__next">
            {% for company in companys %}
                <label for="carousel-{{ company.id }}"></label>
            {% endfor %}
        </div>
        <div class="carousel__nav">
        {% for company in companys %}
            <label for="carousel-{{ company.id }}"></label>
        {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}

{% block recentprojects %}
    <div><h2>Most recent projects</h2></div>
    <div class="projectgrouping">
        {% for project in projects %}
        <div class="project" id="{{ project.id }}">
            <a href="https://{{ project.companywebsite }}" target="_blank"><img src="/img/{{ project.name }}.jpg" alt="{{ project.name }}"></a>
            <p>Project: {{ project.name }} from {{ project.companyname }} </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}

