{% extends 'index.html.twig' %}

{% block name %}
    <h1>See all users & admins</h1>
    {{ dump(users[1])}}
{% endblock %}

{% block main %}
    <div class="adminalignment">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    {% if user.admin == 1 %}
                        <td><p>Gebruiker</p></td>
                    {% elseif user.admin == 2 %}
                        <td><p>Admin</p></td>
                    {% endif %}
                    <td>
                        <form method="post" action="">
                            <button type="submit" name="deleterow" value="{{ user.id }}" >Delete Gebruiker</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock%}

{% block text %}
    <h1>See all visitors</h1>
    {{ dump(visitors[1]) }}
{% endblock%}
{% block promotion %}
    <div class="tablealignment">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Randomid</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Date created</th>
                <th>Expire date</th>
                <th>Action</th>
            </tr>
            {% for visitor in visitors %}
                <tr>
                    <td>{{ visitor.id }}</td>
                    <td>{{ visitor.randomid }}</td>
                    <td>{{ visitor.firstname }}</td>
                    <td>{{ visitor.lastname }}</td>
                    <td>{{ visitor.email }}</td>
                    <td>{{ visitor.datecreated }}</td>
                    <td>{{ visitor.expiredate }}</td>
                    <td>
                        <form method="post" action="">
                            <button type="submit" name="deletevisitor" value="{{ visitor.id }}" >Delete Visitor</button>
                        </form>
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
