{% extends 'index.html.twig' %}

{% block name %}
    <h1>My account</h1>
{% endblock %}

{% block main %}
    <div class="adminalignment">
        <table class="table">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Current employer</th>
                <th>Username</th>
                <th>Password</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            <tr>
                <form method="post" action="">
                    <td><input name="firstname" value="{{ currentUser.firstname }}"></td>
                    <td><input name="lastname" value="{{ currentUser.lastname }}"></td>
                    <td><input name="email" value="{{ currentUser.email }}"></td>
                    <td><input name="currentemployer" value="{{ currentUser.currentemployer }}"></td>
                    <td><input name="username" value="{{ currentUser.username }}"></td>
                    <td><input name="password" value="{{ currentUser.password }}"></td>
                        {% if currentUser.admin == 1 %}
                            <td><p>Gebruiker</p></td>
                        {% elseif currentUser.admin == 2 %}
                            <td><p>Admin</p></td>
                        {% endif %}
                    <td>
                        <button type="submit" name="updaterow" value="{{ currentUser.id }}">Update Gebruiker</button>
                    </td>
                </form>
            </tr>
        </table>
    </div>
{% endblock%}

{% block text %}
<h1>See my visitors</h1>
{% endblock %}

{% block recentprojects %}
    <div class="tablealignment">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Randomid</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Expire date</th>
                <th>Action</th>
            </tr>
            {{ dump(myVisitors[1]) }}
            {% for myVis in myVisitors %}
            <tr>
                <form method="post" action="">
                    <td>{{ myVis.id }}</td>
                    <td>{{ myVis.randomid }}</td>
                    <td><input name="firstname" value="{{ myVis.firstname }}"></td>
                    <td><input name="lastname" value="{{ myVis.lastname }}"></td>
                    <td><input name="email" value="{{ myVis.email }}"></td>
                    <td>{{ myVis.expiredate }}</td>
                    <td>
                        <button type="submit" name="deletevisitor" value="{{ myVis.id }}" >Delete Visitor</button>
                    </td>
                    <td>
                        <button type="submit" name="updatevisitor" value="{{ myVis.id }}" >Update Visitor</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

